body {
}

#main {
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    width: 100%;
}

@media screen and (max-width: 400px) {

}

#items {
    margin-left: 10px;
}

#status-led {
    margin: 2px;
    float: left;
}

#header-label {
    float: right;
}

.no-float {
    float: none;
}

header {
    margin-bottom: 5px;
}

.checkbox {
    font-style: normal;
}

.buttons {
    font-size: 1em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.led {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.led-green {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-yellow {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #ffff00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

.led-red {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #FF0000;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.round-button {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: none;
    border-width: 2px;
    border-color: darkgrey;
    border-style: none;
    font-size: 24px;
    margin: 2px;
    padding: 0px;
    text-align: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #444444 0 -1px 9px, rgba(128, 128, 128, 0.5) 0 2px 12px;
}

.gray-button {
    background-color: lightgrey;
}

textarea {
    width: 100%;
    font-size: 1em;
}

header {
    /* border-bottom: solid; */
    /* border-bottom-width: 1px; */
    font-size: 1.250em;
}
